body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#121212, #212b46);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

h1 {
    animation: flipTitle 2s;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-top: 25px;
    padding: 15px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 18px;
    margin-right: 8px;
    outline: none;
    padding: 10px;
    width: 400px;
}

input::placeholder {
    color: #f1f1f1;
}

button[type="submit"] {
    align-items: center;
    background-color: #3498db;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-left: 10px;
    width: 100px;
}

.resultados {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 280px;
}

.notFound {
    margin: 20px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card h2 {
    font-size: 18px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    input[type="text"] {
        width: 300px;
    }

    .card {
        width: 200px;
    }

    .card img {
        height: 150px;
    }

    .card h2 {
        font-size: 16px;
    }
}